body{
    margin: 0;
}
.back{
    position: absolute;
height: 100%;
    width: 100%;
    object-fit: cover;
}
.container{
    position: absolute;
    top:10%;
    z-index:2;
}
.card {
    position: relative;
    margin: auto;
    display:flex;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
  }
  .card img {
    object-fit: cover;
    width: 30%;
    margin-right:10px
    
  }
  

.actors{
    margin-top:10%;
    margin-left:3%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.actor{
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    margin-bottom:3%;
    margin-right:10px;
}
  .actor img{ 
    width :30%;
    margin-right:5px;
  }
  .actor a{
    color:white;
    display: inline-flex;
    text-decoration: none;
  }
  
