.actor-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .actor-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .actor-bio {
    margin-bottom: 20px;
  }
  
  .actor-picture {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .movie {
    text-align: center;
  }
  
  .movie img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .personal{
    width:200px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 50%;
  }