.actor-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.actor-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.actor-bio {
  margin-bottom: 20px;
}

.actor-picture {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 200px; /* Added max-width for responsiveness */
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.movie {
  text-align: center;
}

.movie img {
  width: 200px;
  height: auto;
  margin-right:10px;
  margin-bottom: 10px;
}

.personal {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 200px; /* Added max-width for responsiveness */
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 50%;
}


@media only screen and (min-width: 600px) {
  .actor-picture {
    max-width: 250px;
  }
  .movie-list{
    grid-template-columns: 30% 30% 30%;
  }

  .personal {
    max-width: 250px;
  }
}


@media only screen and (min-width: 1024px) {
  .actor-container {
    padding: 40px;
  }
  .movie-list{
    grid-template-columns: 25% 25% 25% 25%;
  }
}
